.grid
  display: flex
  flex-wrap: wrap
  margin: 0 auto
  &-item
    padding: 0 15px
    width: 24%
    margin-bottom: 1.333333%
    border: 1px solid transparent
    text-align: center
    cursor: pointer
    &:hover
      border: 1px solid #cccccc
      button
        background-color: orange
    &:not(:nth-child(4n))
      margin-right: 1.333333%
    &__img
      img
        width: 100%
    &__title
      margin: 15px 0
      padding: 0 15px
    &__price
      font-size: 18px
    &__btn
      margin: 15px 0
      button
        width: 100%
        padding: 10px 5px
        background-color: #ffffff
        border: 1px solid #000000
        border-radius: 3px
        cursor: pointer
        font-size: 20px

.cart
  position: fixed
  top: 0
  right: -450px
  width: 450px
  height: 100%
  background-color: #2F2D38
  transition: 0.3s
  &__close
    position: absolute
    top: 7px
    left: 7px
    background: #000000 url('/img/close.svg') center no-repeat
    background-size: 100%
    width: 30px
    height: 30px
    cursor: pointer
  &__btn
    position: fixed
    width: 60px
    height: 60px
    top: 0
    right: 0
    background: #000000 url('/img/cart.svg') center no-repeat
    background-size: 70%
    cursor: pointer
  &__quantity
    position: absolute
    bottom: 8px
    right: 7px
    width: 20px
    height: 20px
    border-radius: 50%
    display: flex
    align-items: center
    justify-content: center
    background-color: #EABF00
    font-size: 12px
    font-weight: bold
  &.active
    right: 0
    .cart__btn
      position: absolute
      left: 50%
      transform: translateX(-50%)

.filter
  display: flex
  justify-content: space-between
  align-items: center
  margin: 60px 0 5px
  &__size
    display: flex
    &-item
      display: flex
      align-items: center
      justify-content: center
      width: 40px
      height: 40px
      border-radius: 50%
      background-color: #ECECEC
      margin: 0 5px
      cursor: pointer
      transition: 0.2s
      &:hover
        border: 1px solid #2F2D38
      &.active
        background-color: #2F2D38
        color: #ffffff

.sort
  span
    margin-right: 15px
  select
    padding: 5px 2px
    font-size: 16px
    &:focus
      outline: 0

.cart-items
  margin-top: 70px
  overflow: auto
  height: calc(100% - 70px)

.cart-item
  position: relative
  padding: 10px 20px
  display: flex
  justify-content: space-between
  align-items: center
  border-top: 2px solid blue
  color: #ffffff
  .cart__close
    left: auto
    right: 15px
  &__left
    display: flex
    align-items: center
  &__right
    display: flex
    flex-direction: column
    align-items: flex-end
  &__img
    width: 100px
    margin-right: 10px
    img
      width: 100%
  &__controls
    display: flex
    .control-btn
      width: 30px
      height: 30px
      background-color: #000000
      display: flex
      align-items: center
      justify-content: center
      padding-bottom: 4px
      cursor: pointer
  &__price
    margin: 15px 0
    color: #eabf00
  &__size,
  &__quantity
    color: #5b5a5e